<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define Console Appender for logging output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log level configuration -->
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="org.springframework.cloud.gateway" level="INFO"/>
    <logger name="org.springframework.security" level="WARN"/>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>

